<li class="nav-item"><%= link_to "Channels", channels_path, class: "nav-link" %></li>
<li class="nav-item"><%= link_to "Videos", videos_path, class: "nav-link" %></li>
<li class="nav-item"><%= link_to "My Invitations", my_invitations_path, class: "nav-link" %></li>
