<li class="nav-item"><%= link_to "Dashboard", user_dashboard_path, class: "nav-link" %></li>
<li class="nav-item"><%= link_to "All Organizations", organizations_path, class: "nav-link" %></li>
<li class="nav-item"><%= link_to "All Channels", channels_path, class: "nav-link" %></li>
<li class="nav-item"><%= link_to "All Videos", videos_path, class: "nav-link" %></li>